<!DOCTYPE html>
{% load static %}
<html>
   <head>
     <title>New Inventory</title>
     <link rel="stylesheet" href="{% static 'css/appl.css'%}">
     </head>
     <body>
       <div id="header">    
         <h1>Inventory Records</h1>
         <div id="nav">
           <a href="view-all">View All</a>
           <a href="new-inventory">Add Inventory</a>
          <a href="logout">Logout</a>
          </div>
          <div id="hello">Hello,{{request.session.username}}</div>
        </div>
        <div id="main">
            <h2>Edit Inventory Record</h2>
            <form action="edit" method="POST">
              {% csrf_token %}
              <input type="hidden" name="inventoryid" value="{{item.id}}">
              {{form}}
              <input type="submit" value="save">
              </form>
            </div>
          </body>
        </html>
